<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<link rel="shortcut icon" type="image/svg+xml" href="https://the-redunicorn.fr/logo-tru.svg" />
<title>Service restreint</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Ce service est en accès restreint !</h1>
<p>Le service auquel vous essayez de vous connecter n'est pas accessible au public. Si vous pensez que vous ne devriez pas voir ce message, merci de nous contacter.<br/>
</p>

<p style="border-style: solid hidden hidden hidden; margin-top: 10%;">Pour plus d'informations, visitez 
<a href="https://status.the-redunicorn.fr/">la page de statut des services</a>.<br/>
Vous pouvez également contacter 
<a href="mailto:hostmaster@the-redunicorn.fr/">le hostmaster</a>.</p>

<p><em>Merci de l'attention que vous accordez aux services TRU.</em></p>
</body>
</html>
