<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<link rel="shortcut icon" type="image/svg+xml" href="https://the-redunicorn.fr/logo-tru.svg" />
<title>You seem to be lost</title>
<style>
    body {
        width: 50%;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1><span style="font-style: italic;">Famous last words</span> for 404 lost people</h1>
<blockquote cite="http://www.rogerhodgson.com/lyrics/dontleavemenow.html">
<p>Don't leave me now
<br />Leave me out in the pouring rain
<br />With my back against the wall
<br />Don't leave me now</p>
<p>Don't leave me now
<br />Leave me out with nowhere to go
<br />And the shadows start to fall
<br />Don't leave me now</p>
<p>Don't leave me now
<br />Leave me out on this lonely road
<br />As the wind begins to howl
<br />Don't leave me now</p>
<p>Don't leave me now
<br />All alone on this darkest night
<br />Feeling old and cold and grey
<br />Don't leave me now</p>
<p>Don't leave me now
<br />Leave me holding an empty heart
<br />As the curtain starts to fall
<br />Don't leave me now</p>
<p>Oh, don't leave me now
<br />All alone in this crazy world
<br />When I'm old and cold and grey and time is gone</p>
</blockquote>
<cite>– Supertramp, Don't Leave Me Now</cite>


<p style="margin-top: 10%; border-style: solid hidden hidden hidden;">Pour plus d'informations, visitez 
<a href="https://status.the-redunicorn.fr/">la page de statut des services</a>.<br/>
Vous pouvez également contacter 
<a href="mailto:hostmaster@the-redunicorn.fr/">le hostmaster</a>.</p>

<p><em>Merci de l'attention que vous accordez aux services TRU.</em></p>
</body>
</html>
